# Ignore test_files since they are too big for GitHub
test_files/

# Ignore logs/ and frames/ since they are created based on input
logs/
frames/

# Ignore the pycache directorys if they get created again
__pycache__/
pages/__pycache__/

# Ignore the pip_tmp directory (for getting the requirements) and the venv dir for raw install
pip_tmp/
pursuit-alert-venv/

# Ignore the get-reqs venv directory (for getting the requirements)
get-reqs/

# UNNESSECARY FILES FOR DOCKER BUILD
.git/
.gitignore
README.md
venv-run.sh

Dockerfile
docker-compose.yml