# Ignore test_files since they are too big for GitHub
test_files/

# Ignore logs/ and frames/ since they are created based on input
logs/
frames/

# Ignore the pycache directorys if they get created again
__pycache__/
pages/__pycache__/